.isError {
	color: maroon;
}

label {
	display: block;
}

@font-face {
	font-family: 'Web Symbols';
	src: url('../font/WebSymbols-Regular.eot');
	src: url('../font/WebSymbols-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/WebSymbols-Regular.woff') format('woff'),
	url('../font/WebSymbols-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//noinspection CssNoGenericFontName
.actionButton {
	font-family: 'Web Symbols';
	padding: 0.2em;
	text-decoration: none;
}

.button-wait::before {
  content: 'P';
}

.button-add::before {
  content: '+';
}

.button-youtube::before {
  content: 'y';
}

button .actionButton {
	font-size: 150%;
}

.preview-image {
	max-width: 120px;
}
.rowTitle {
	max-width: 30em;
}

.ytSearchWrapper {
  min-height: 3em;
  max-width: 50em;
  input {
	font-size: 150%;
	min-width: 20%;
	margin-right: 1em;
  }
  li {
	padding: 1em;
	clear: both;
	a {
	  margin-right: 1em;
	  vertical-align: top;
	}
	.yt-thumbnail {
	  float: left;
	}
	.yt-description {
	  max-height: 3em;
	  overflow:hidden;
	}
	.yt-texts > * {
	  padding-left: 1em;
	}
	&.yt-more-results {
	  list-style-type: none;
	}

  }
}

.queue-list {
  clear: both;
  border: 0;
  padding-top: 2em;
}

@import (inline) "featherlight.min.css";